@page "/"

@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Components.Web
@using WebApplication1.Data
@using WebApplication1.Pages
@namespace WebApplication1.Data

<div class="calendar">
    <CalendareCode/>
</div>