@*<div class="header__calendar">
    <div class="left__triagle">
        <button class="btn btn-default" @onclick="Data.date.leftArrow">
            <img src="../lefttriangle_83730.svg" width="20px" height="20px" />
        </button>
    </div>

    <div class="month">@Data.Calendarec.vmounth()</div>

    <div class="right__triagle">
        <button class="btn btn-default" @onclick="Data.date.rightArrow">
            <img src="../righttriagle.svg" width="20px" height="20px" />
        </button>
    </div>
</div>
*@