<div class="navbar__menu">
    <div class="navbar__menu-content">
        <ul class = "list">
            <hr class = "line-top">
            <LoginDisplay></LoginDisplay>
            <hr class = "line">
            <h1>About Us</h1>
            <li><a href="#">Hall of Fame</a></li>
            <li><a href="#">About Developer</a></li>
            <hr class = "line">
            <h1>Calendar</h1>
            <li><a href="#">Notes</a></li>
            <li><a href="#">Holidays</a></li>
            <li><a href="#">Reminders</a></li>
            <li><a href="#">Picture</a></li>
            <hr class = "line">
        </ul>
        <br>
        <br>
        <a href="#" class="dark__mode">Dark Mode</a>
        <br>
        <br>
        <a href="#" class="follow__us">Follow Us</a>
        <hr class = "line-bottom">
    </div>    
</div>